/*  === === === === ===
*  CSS TABLE OF CONTENTS

*   I. Mobile Layout
*   
*  1.0 - Reset
*  2.0 - Variables
*  3.0 - Flex
*  4.0 - Grid
*  5.0 - Layout, Spacing, Border and Background Color
*  6.0 - Typography
*  
*  II. Media Query (min-width: 400px)
*  II. Media Query (min-width: 600px)
*  III. Media Query (min-width: 900px)
* VI. Media Query (min-width: 1200px)



=== === === === === */

/* ===============
    I. MOBILE LAYOUT
   =============== */

/* ===============
    1.0 RESET
   =============== */

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    line-height: 1.5;
}

body,
main,
section,
aside,
nav,
h1,
h2,
h3,
h4,
p,
ul,
li,
a {
    margin: 0;
    padding: 0;
}

img {
    display: block;
    width: 100%;
}

/* ===============
    2.0 VARIABLES
   =============== */

:root {

    /* === Color === */

    --primary-color: #FFE600;
    --supporting-color: #000000;
    --neutral-color-dark-gray: #404040;
    --neutral-color-gray: #707070;
    --neutral-color-light-gray: #EBEBEB;
    --neutral-color-light: #FFFFFF;

    /* === Font Size === */

    --font-xs: 0.75rem;
    --font-sm: 0.875rem;
    --font-base: 1rem;
    --font-md: 1.125rem;
    --font-lg: 1.25rem;
    --font-xl: 1.5rem;
    --font-2xl: 2rem;
    --font-3xl: 3rem;

    /* === Font Weight === */

    --font-bold: 700;
    --font-regular: 400;
}

/* ===============
    3.0 Flex
   =============== */

/* === Global === */

.flex {
    display: flex;
}

.flex-column {
    flex-direction: column;
}

.flex-row {
    flex-direction: row;
}

/* ===============
    4.0 Grid
   =============== */

/* ======== Global ======== */

.grid {
    display: grid;
}

/* === Header === */

.head-container {
    justify-content: space-between;
    align-items: center;
}

/* === Header - Navigation === */

.site-navigation__label {
    grid-column: 2;
}

.site-navigation {
    grid-column: 1/3;
    grid-row: 2;
}

/* ======== about.html ======== */

.about-text-section {
    row-gap: 2rem;
}

.about-text-container {
    row-gap: 1rem;
}

/* ===============
    5.0 Layout, Spacing, Border and Background Color
   =============== */

/* ======== Global ======== */

/* === Global === */

.button {
    display: inline-block;
    text-decoration: none;
    padding: 0.5rem 1rem;
    text-transform: lowercase;
    font-weight: var(--font-bold);
    font-size: var(--font-sm);
    outline: none;
}

.button:hover,
.button:active {
    box-shadow: 0 0 0 3px rgba(20, 168, 212, 0.5);
}

/* === Header === */

.site-header {
    background-color: var(--supporting-color);
}

.site-title {
    background-color: var(--primary-color);
    padding-top: 2.5rem;
}

.head-container {
    padding: 0 1rem;
    max-width: 1100px;
    margin: 0 auto;
}

/* === Header Navigation === */

.site-navigation__toggle {
    display: none;
}

.site-navigation {
    display: none;
}

.site-navigation__menu {
    margin: 0.5rem 0;
}

.site-navigation__item {
    padding: 1.5rem 0;
}

.site-navigation__toggle:checked~.site-navigation {
    display: block;
}

/* === Footer === */

.site-footer {
    background-color: var(--neutral-color-light-gray);
}

.logo-section {
    justify-content: center;
}

.logo-section {
    margin-bottom: 2rem;
}

.logo {
    width: 24px;
    height: auto;
}

.logo+.logo {
    margin-left: 1rem;
}

.footer-container {
    padding: 3rem 2rem;
    max-width: 1100px;
    margin: 0 auto;
}

.footer__copyrights {
    margin-top: 2rem;
    margin-bottom: 0;
}

/* ======== index.html ======== */

/* === Main === */

.home-main {
    background-color: var(--supporting-color);
}

/* === Main Hero Section === */

.hero-section {
    max-width: 1100px;
    margin: 0 auto;
    background-image: url(../images/hero-bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    padding: 5rem 0;
}

.hero-container {
    width: 55%;
    padding: 3rem 1rem;
}

.hero__button {
    background-color: var(--primary-color);
    color: var(--supporting-color);
}

.hero__title {
    margin-bottom: 1.5rem;
}

.hero__paragraph {
    margin-bottom: 1.5rem;
}

/* === Main - Promotion Section === */

.promotion-section {
    background-color: var(--neutral-color-light);
}

.promotion-container {
    padding: 3rem 2rem;
}

.promotion-text-container {
    margin-bottom: 3rem;
}

.promotion__title {
    margin-bottom: 1rem;
}

/* ======== about.html ======== */

/* === Main === */

.about-title-section {
    padding: 3rem 1rem;
}

.about-text-section {
    padding: 0 1rem 3rem 1rem;
}

.about-text-section {
    max-width: 1100px;
    margin: 0 auto;
}

.about-title-section {
    max-width: 700px;
    margin: 0 auto;
}

/* ===============
    6.0 Typography
   =============== */

/* ======== Global ======== */

/* === Global === */

body {
    font-family: 'Montserrat', sans-serif;
}

.title {
    font-family: 'Source Sans Pro', sans-serif;
    font-size: var(--font-2xl);
    font-weight: var(--font-bold);
}

/* === Header === */

.site-title {
    color: var(--supporting-color);
}

.site-title_regular {
    font-weight: var(--font-regular);
}

.hero__title_color {
    color: var(--primary-color);
}

/* === Header Navigation === */

.site-navigation__menu {
    list-style: none;
}

.site-navigation__link {
    color: var(--neutral-color-light);
    font-weight: var(--font-bold);
    text-decoration: none;
    text-transform: lowercase;
    font-size: var(--font-md);
}

.site-navigation__item {
    text-align: center;
}

/* === Footer === */

.footer-text-section {
    opacity: 0.3;
    color: var(--supporting-color);
    text-align: center;
}

.footer__paragraph {
    color: var(--supporting-color);
}

.footer__copyrights {
    font-size: var(--font-sm);
}

/* ======== index.html ======== */

/* === Main === */

/* === Main Hero Section === */

.snippet__title {
    font-weight: var(--font-bold);
    font-size: var(--font-md);
}

.section__paragraph {
    font-size: var(--font-base);
}

.hero__title {
    color: var(--neutral-color-light);
    font-size: var(--font-lg);
}

.hero__paragraph {
    color: var(--neutral-color-light);
}

/* === Main Promotion Section === */

.promotion__title {
    color: var(--supporting-color);
    font-size: var(--font-md);
    text-align: center;
}

.promotion__paragraph {
    color: var(--neutral-color-dark-gray);
    text-align: center;
}

/* ======== About.html ======== */

/* === Main === */

.about__title {
    font-size: var(--font-2xl);
    color: var(--supporting-color);
    text-align: center;
}

.about__subtitle {
    font-size: var(--font-md);
    color: var(--supporting-color);
    text-align: center;
}

/* ========================
    II. Media Query (min-width: 400px)
   ================= */

@media (min-width: 400px) {

    /* ===============
    Layout, Spacing, Border and Background Color
   =============== */

    /* ======== Global ======== */

    /* === Header === */

    .head-container {
        padding: 0 2rem;
    }

    .site-title {
        padding-top: 3rem;
    }

    /* === 2.3 Footer === */

    .footer-container {
        padding: 3rem 3rem;
    }

    /* ======== index.html ======== */

    /* === Main === */

    /* === Main Hero Section === */

    .hero-container {
        padding: 3rem 2rem;
    }

    /* === Main Promotion Section === */

    .promotion-container {
        padding: 3rem 3rem;
    }

    /* ======== about.html ======== */

    /* === Main === */

    .about-title-section {
        padding: 3rem 2rem;
    }

    .about-text-section {
        padding: 0 2rem 3rem 2rem;
    }

}

/* ========================
    III. Media Query (min-width: 600px)
   ================= */

@media (min-width: 600px) {

    /* ===============
        VARIABLES
    =============== */

    :root {

        /* === 1.1 Font Size === */

        --font-xs: 0.875rem;
        --font-sm: 1rem;
        --font-base: 1.125rem;
        --font-md: 1.25rem;
        --font-lg: 1.5rem;
        --font-xl: 1.75rem;
        --font-2xl: 2.25rem;
    }

    /* ===============
    Layout, Spacing, Border and Background Color
   =============== */

    /* ======== Global ======== */

    /* === Header === */

    .head-container {
        padding: 0 3rem;
    }

    /* === 2.3 Footer === */

    .footer-container {
        padding: 3rem 5rem;
    }

    /* ======== index.html ======== */

    /* === Main === */

    /* === Main Hero Section === */

    .hero-container {
        padding: 3rem 3rem;
    }

    /* === Main Promotion Section === */

    .promotion-container {
        padding: 3rem 5rem;
    }

    /* ======== about.html ======== */

    /* === Main === */

    .about-title-section {
        padding: 3rem 3rem;
    }

    .about-text-section {
        padding: 0 3rem 3rem 3rem;
    }

    /* ===============
    Typography
   =============== */

    /* ======== about.html ======== */

    /* === Main === */

    .about__title {
        font-size: var(--font-3xl);
    }

}

/* ========================
    IV. Media Query (min-width: 900px)
   ================= */

@media (min-width: 900px) {

    /* ===============
    Flex
   =============== */

    /* ======== Global.html ======== */

    /* === Header === */

    .site-navigation__menu {
        flex-direction: row;
    }

    /* === Footer === */

    .footer-container {
        display: flex;
        flex-direction: row-reverse;
        justify-content: space-between;
        align-items: baseline;
    }

    /* ======== index.html ======== */

    /* === Main === */

    /* === Main Promotion Section === */

    .promotion-container {
        display: flex;
    }

    /* ===============
    Grid
   =============== */

    /* ======== Global ======== */

    /* === Header === */

    .head-container {
        justify-content: start;
    }

    /* === Header Navigation === */

    .site-navigation {
        grid-column: 2/3;
        grid-row: 1;
    }

    /* ======== about.html ======== */

    /* === Main === */

    .about-text-section {
        grid-template-columns: auto auto;
        column-gap: 4rem;
    }

    .about__image {
        grid-column: 1;
        grid-row: 1;
    }

    .about-text-container {
        grid-column: 2;
    }

    /* ===============
    Layout, Spacing, Border and Background Color
   =============== */

    /* ======== Global ======== */

    /* === Header Navigation === */

    .site-navigation {
        display: block;
    }

    .site-navigation__label {
        display: none;
    }

    .site-navigation__item {
        padding-left: 3rem;
    }

    /* === Footer === */

    .footer-text-section {
        width: 70%;
    }

    /* ======== index.html ======== */

    /* === Main === */

    /* === Main Promotion Section  === */

    .promotion-container {
        max-width: 1100px;
        margin: 0 auto;
        justify-content: space-between;
    }

    .promotion-text-container {
        width: 30%;
    }

    /* ======== about.html ======== */

    /* === Main === */

    .about__image {
        padding-top: 0.5rem;
    }

    /* ===============
    Typography
   =============== */

   /* ======== Global ======== */

    /* === Footer === */

    .footer-text-section {
        text-align: left;
    }

}

@media (min-width: 1200px) {

    /* clear the horizontal padding */

    .head-container,
    .hero-container,
    .promotion-container,
    .about-title-section,
    .about-text-section,
    .footer-container {
        padding-left: 0;
        padding-right: 0;
    }

}